name: README build

on:
  schedule:
    - cron: '0 */3 * * *'  # 3시간마다 실행
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update README timestamp
        run: |
          echo "Last refresh: $(date)" > timestamp.txt

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Auto update README" || echo "No changes"
          git push
